/*main style */
.service-button {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

/* start (green) */
.btn-start {
    -fx-background-color: #14b8a6;
}
.btn-start:hover {
    -fx-background-color: #0d9488;
}

/* stop (red) */
.btn-stop {
    -fx-background-color: #ef4444;
}
/* (hover) */
.btn-stop:hover {
    -fx-background-color: #dc2626;
}